@media (max-width: 768px) {

    h1,
    p,
    h2,
    h3,
    h4 {
        font-size: 70%;
    }

    html {
        overflow-x: hidden;
    }

    body {
        max-width: screen;
    }

    .health-benefit-card {
        display: none;
    }

    .navbar {
        max-width: 100%;
    }



    .Login {
        text-align: start;
        margin-top: 100px;
        width: auto;
        padding-left: 0px;
    }

    .modal {
        padding-top: 55%;
    }

    .modal h3 {
        font-size: 30px;
    }

    .modal-content {
        max-width: 400px;
        height: 521px;


    }

    .home .landingPage {

        text-align: start;
        margin-top: 100px;
    }

    .home .landingPage h1 {
        text-align: start;
    }



    .customers_favorite .favorites .buttons {
        display: inline;
        margin-top: 20px;
    }

    section {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
    }


    .WhyMagic {
        display: flex;
        flex-direction: column-reverse;
        max-width: fit-content;
    }

    body {
        padding: 0 5vw;
    }

    h1 {
        text-align: center;
        font-size: 30px;
    }

    .whyus {
        justify-content: center;
        text-align: center;
    }

    .why-header {
        justify-content: center;
    }

    .testimonials .container {
        max-width: fit-content;
    }

    .our-products .list-menu li span {
        padding-left: 70px !important;
    }

    .our-products .card {
        width: 100%;
    }






    .buttons-mob {
        color: #FFF;
        font-family: "League Spartan";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 178px;
        height: 43px;
        flex-shrink: 0;
        border-radius: 43px;
        background: #174542;
        border-color: transparent;

        &:hover {
            background: #008F85;
            border-color: transparent;

        }
    }
    .recipe,
    .favorites_imgBox {
        width: 100%;
        max-width: none;
    }

    .navbar {
        max-height: none;
    }

    .footer_right {
        text-align: center;
    }

    .footer_right ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
    }

    .BigText {
        display: block;
        font-family: League Spartan;
        font-size: 100px;
        font-weight: 500;
        line-height: 92px;
        letter-spacing: 0em;
        text-align: left;

    }

    .lineVectors {
        display: block;
    }

    .card_footer {
        display: flex;
        flex-direction: column;

    }

    .leaf {
        display: none;
    }

    .completeStuff {
        display: none;
    }

    .recipe-card {
        width: 343px;
        height: 350px;
        margin: 45px auto;
        /* Center the recipe card horizontally */
    }

    .testimonials .lineVectors {
        display: none;
    }

    footer .socials {
        display: none;
    }

    .footer_left {
        /* text-align: start; */
    }

    .footer_right div {
        width: 100%;
    }

    .quote1 {
        right: 305px;
    }

    .quote2 {
        left: 305px;
    }

    .testimonials p {
        width: auto;
    }
}



@media (max-width: 556px) {

    html {
        overflow-x: hidden;
    }
    .dropdown-menu[data-bs-popper] {
        top: 100%;
        left: -180px;
        margin-top: var(--bs-dropdown-spacer);
    }

    .landingPage {
        flex-direction: column;
        justify-content: left;
        align-items: center;
        width: screen;
    }

    .home {
        margin-top: 200px;
        margin-bottom: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .home h1 {
        font-family: League Spartan;
        font-size: 40px;
        font-weight: 600;
        line-height: 37px;
        letter-spacing: 1px;
        text-align: center !important;
        margin: auto;
        max-width: 90% !important;

    }




    .WhyMagic .carousel-inner .carousel-item h3 {
        width: 60%;
        text-align: center;
    }

    .WhyMagic .carousel-inner .carousel-item.active p {
        text-align: center;
    }




    .home p {
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        margin: auto;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        justify-self: center;

    }

    .customers-header {
        padding-left: 30px;

    }

    .home .socials {
        padding-top: 40px;
        text-align: center;
        justify-content: center;
    }

    .fav-card-container {
        justify-content: center;
    }

    .recipes {
        margin-top: 0;
    }

    .WhyMagic {
        padding: 0;
        margin: 0;
        margin-bottom: 120px;
        width: 350px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .WhyMagic .carousel-indicators {
        justify-content: center;
        margin-bottom: 60px;
        bottom: -160px;
    }

    .WhyMagic .carousel-inner {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .carousel-why {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .health-benefit-card {
        display: none;
    }

    .navbar {
        max-width: 100%;
    }





    .whyus .carousel-inner .carousel-item {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 100px;
    }

    .whyus .carousel-inner .carousel-item h3 {
        /* align-items: center;
            justify-content: center;
            width: 100%; */
        text-align: center;
    }

    .WhyMagic .carousel-item.active {
        width: 100%;
        /* padding-right: 40px; */
        height: 140%;
    }

    .WhyMagic .carousel-item img {
        padding-bottom: 25px;
        margin: auto;
    }

    .why-img {
        padding-top: 80px;
    }

    .WhyMagic .carousel-item.active img {
        padding-bottom: 25px;
        margin: auto;
    }

    .recipe-card {
        width: 343px;
    }

    .recipe span {
        font-family: League Spartan;
        font-size: 20px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;

    }

    .WhyMagic .carousel-item h3 {
        text-align: center;
        margin: auto;
    }

    .WhyMagic .carousel-item.active h3 {

        text-align: center;
        margin: auto;
    }





    .WhyMagic .carousel-item p {
        text-align: center;
        padding: 1em;
        margin: auto;
    }

    footer .socials {
        display: none;
    }

    .no-caret::after {
        display: none !important;

    }

    .footer_left {
        justify-content: center;
    }

    footer {
        justify-content: center;
        text-align: center;
        /* margin-bottom: 80px;     */
    }

    footer .footer_logo {
        width: 100%;
        justify-items: start;
    }

    footer .helpful-links {
        width: 100% !important;
    }

    footer .other-pages {
        width: 100% !important;
        justify-items: start !important;
    }


    footer .helpful-links p {
        margin-left: 50px;
        width: 100% !important;
        text-align: left;
    }

    footer .other-pages p {
        margin-left: 50px;

        width: 100% !important;
        text-align: left;
    }

    footer .helpful-links li {
        margin-left: 50px;
        padding-left: 0 !important;
        width: 100% !important;
        text-align: left;
    }

    footer .other-pages li {
        margin-left: 50px;
        padding-left: 0 !important;
        width: 100% !important;
        text-align: left;
    }

    .footer_logo .d-flex {
        justify-content: start;
    }

    .WhyMagic .carousel-item.active p {
        text-align: left;
        padding: 1em;
        /* margin: auto; */
    }



    .navbar-nav {
        height: fit-content;
        gap: 20px;
        padding-bottom: 10px;
        align-items: center;
        padding-right: 50px;
    }

    .nav-item {
        margin-right: 0px;
        font-family: League Spartan;
        font-size: 20px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }

    .navbar-brand img {
        padding-left: 0 !important;
        height: 60px;
    }

    .navbar {
        max-width: 100vw;
    }

    .navbar .logo {
        height: 100px;
    }

    .home .favorites {
        max-width: fit-content;
    }

    .navbar-toggler {
        border: 0;
        margin-right: auto;
        margin-left: 30%;
    }

    .customers_favorite .favorites .buttons {
        display: inline;
        margin-top: 20px;
    }





    .Payment-method {
        width: 100%;
        padding: 25px;
    }




    .blog-location {
        position: absolute;
        left: 9%;
        margin-bottom: 40px;
        overflow: hidden;
    }

    section {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
    }

    .home .landingImg {
        max-width: 350px;
        max-height: 200px;
        margin-left: 40px;
    }

    .trash {
        display: none;
    }

    .nav-search {
        position: relative;
        left: 50px;
    }

    
    .WhyMagic {
        display: flex;
        flex-direction: column-reverse;
        max-width: fit-content;
    }

    body {
        padding: 0 5vw;
    }

    h1 {
        text-align: center;
        font-size: 30px;
    }

    .whyus .img {
        max-width: fit-content;
        max-height: 200px;
    }

    .testimonials .container {
        max-width: screen;
    }

    .testimonials p {
        font-family: League Spartan;
        font-size: 30px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        width: 75%;
    }

    .testimonials .carousel-item.active {
        max-width: screen;
    }

    .testimonials .carousel-indicators {
        justify-content: center;
        bottom: -10px;
        padding: auto;
    }

    .testimonials .carousel {
        height: 400px;
    }

    .WhyMagic li {
        margin-left: 7.5px;
        margin-right: 7.5px;
    }


    .testimonials .quote2 {
        right: 300px;
        left: 140px;
        bottom: 100px;
    }

    .testimonials .quote1 {
        top: 180px;
        right: 135px;
        bottom: 180px;
    }

    .testimonials .quote2 img {
        height: 20px;
    }

    .testimonials .quote1 img {
        height: 20px;
    }

    .testimonials .carousel-container {
        width: 300px;
    }


    .recipe,
    .favorites_imgBox {
        width: 100%;
        max-width: none;
    }

    .navbar {
        max-height: none;
    }

    .footer_right {
        text-align: center;
    }

    .footer_right ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
    }

    .BigText {
        display: none;
    }

    .lineVectors {
        display: none;
    }

    .card_footer {
        display: flex;
        flex-direction: column;

    }

    .leaf {
        display: none;
    }

    .completeStuff {
        display: none;
    }
}

