.home {
    margin-top: 90px;
    margin-left: 90px;
}

.home h1 {
    font-size: 50px;
}

h1, h2, h3 {
    color: #174542;
    font-family: "League Spartan";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.BigText {
    font-family: League Spartan;
    color: #ACACAC;
    opacity: 0.2;
    font-size: 150px;
    font-weight: 600;
    line-height: 138px;
    letter-spacing: 0em;
    text-align: left;

}

.favorites {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DD7E1A;
    height: 395px;
    max-width: 285px;
    border-radius: 19px;
    filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.40));
}

.favorites_imgBox {
    margin-top: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: #E1DDD2;
    height: 198px;
    min-width: 265px;
    border-radius: 19px 19px 0 0
}
.favorites_img {
    max-height: 190px;
    width: 10 0%;
    aspect-ratio: 4/4;
    object-fit: contain;
    background-color: transparent;
    border-radius: 19px 19px 0 0;

}



.favorites:hover .buttons {
    background-color: #008F85;
}



.favorites .buttons {
    position: relative;
    top: 1em;
}

.favorites_text {
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;

}

.favorites_desc {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 18.75px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 23px;
}


.favorites .line {
    border: 1px solid #FFFFFF;
    width: 53px;

}

.flax-input-group.flax-has-error .flax-input:not(:focus),
.flax-input.flax-has-error:not(:focus) {
    border-color: var(--bs-danger);
    background-color: var(--text-danger-bg);
}

.flax-input-group-append,
.flax-input-group-between,
.flax-input-group-prepend {
    position: absolute;
    height: 25%;
    display: flex;
    align-items: center;
}

.flax-input-group .flax-input:last-child {
    padding-right: var(--input-padding-horizontal);
    border: 1px solid #000;
}

.modal {
    padding-top: 5%;
}

.modal h3 {
    font-size: 30px;
}

.modal-body input {
    height: 44px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.modal-body input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px;

}

.modal-dialog {
    width: 400px;
}

.flax-input::placeholder {
    color: #667085;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.remember-text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.modal-footer {
    justify-content: center;
}

.modal-footer button {
    width: 352px;
    height: 44px;
    border-radius: 8px;
    border: 1px;

}

.our-products .modal-dialog {
    width: 472px;
    height: 83px;
    border-radius: 4px;
    border: 1px;
    position: fixed;
    top: 200px;
    right: 20px;
    background-color: #D2CEC2;
}

.our-products .modal-title {
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.green-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    /* Adjust the height of the line */
    width: 10%;
    /* Initial width of the line */
    background-color: green;
    animation: expandLine 3s ease-out forwards;
    /* Animation properties */
}

@keyframes expandLine {
    0% {
        width: 10%;
        /* Starting width */
    }

    100% {
        width: 100%;
        /* Ending width */
    }
}

.our-products .modal-backdrop {
    display: none;
}

.singleProduct .modal-content {
    background-color: transparent;
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;

}



.singleProduct .modal-dialog {
    width: 472px;
    height: 83px;
    border-radius: 4px;
    border: 1px;
    position: fixed;
    top: 200px;
    right: 20px;
    background-color: #D2CEC2;
}

.singleProduct .modal-title {
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.green-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    /* Adjust the height of the line */
    width: 10%;
    /* Initial width of the line */
    background-color: green;
    animation: expandLine 3s ease-out forwards;
    /* Animation properties */
}

@keyframes expandLine {
    0% {
        width: 10%;
        /* Starting width */
    }

    100% {
        width: 100%;
        /* Ending width */
    }
}

.singleProduct .modal-backdrop {
    display: none;
}

.singleProduct .modal-content {
    background-color: transparent;
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;

}


.flax-input {
    --input-height: 45px;
    --input-padding-vertical: 10px;
    --input-padding-horizontal: 19px;
    --input-height-sm: 30px;
    --input-padding-vertical-sm: 6px;
    --input-padding-horizontal-sm: 7px;
    display: block;
    width: 100%;
    border: 1px solid var(--input-group-border-color);
    border-radius: 0.5rem;
    color: #303030;
    background-color: var(--input-group-bg-color);
    background-image: none;
    background-clip: padding-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    overflow: visible;
    margin: 0;
    min-height: var(--input-height);
    height: var(--input-height);
    line-height: 1;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
}

html body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-left: 3rem;
    margin-right: 2rem;
}

.WhyMagic .carousel-item p {
    text-align: left;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    max-width: screen;

}

.recipe_desc p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

.testimonials .carousel-inner {
    max-height: 400px;
    max-width: 600px;

}


.carousel-item {
    text-align: center;
}


.WhyMagic .carousel-item img {
    max-width: 100%;
    height: auto;
}

.WhyMagic .col-md-0 img {
    max-width: 100%;
    height: auto;
}

.dropdown-menu {
    height: 155px;
    width: 230px;
}

.navbar-toggler-icon {
    display: none;
}

#loginSignUpDropdown::after {
    display: none;
}

.product-type {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.product-name {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.quote1 {
    position: relative;
    right: 350px;
    top: 80px;
}

.quote2 {
    position: relative;
    left: 350px;
    bottom: 200px;
}

.container-lg {
    max-width: 1540px;
}




.customers_favorite {
    padding-top: 0;
    margin-left: 90px !important;
    margin-right: 90px;

}

.customers_favorite .BigText {
    position: relative;
    top: 45px;
    padding-right: 2rem;
    z-index: -1;
}

.buttons {
    color: #FFF;
    font-family: "League Spartan";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 178px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 43px;
    background: #174542;
    border-color: transparent;

    &:hover {
        background: #008F85;
        border-color: transparent;

    }
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #DD7E1A;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #DD7E1A;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 40%;
}


.navbar {
    background-color: #E1DDD2;
    color: #000000;
    max-height: 135px;
}

.nav-link:active::after {
    width: 40%;
    color: #DD7E1A;

}

.active .nav-link::after {
    width: 60%;
    color: #DD7E1A;
}

.nav-link:focus::after {
    width: 40%;
    color: #DD7E1A;
}

.navbar-shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #343434;
    justify-content: center;
    font-family: "League Spartan";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    &:hover {
        color: #DD7E1A;
        font-weight: 600px;

    }
}

.nav-item {
    margin-right: 35px;
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.home .search-bar input {
    font-family: League Spartan;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.home .search-bar {


    background-color: transparent;
    border: 0;
    border-radius: 50%;
}



.navbar-nav {
    align-items: center;
}

.Login {
    width: 1400px;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    justify-items: center;
    padding: 10px;
    max-height: 120px;
}



.landingPage {
    height: 320px;
}

.landingImg {
    height: 120%;
    object-fit: cover;
    object-position: left;
}















.socials {
    margin-bottom: 30px;
}

.mrp {
    text-decoration: line-through;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
    margin-right: 5px;

}

.selling-price {
    color: #174542;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 5px;
    margin-right: 10px;
}

.singleProduct .favorites .mrp {
    text-decoration: line-through;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
    margin-right: 5px;
}

.singleProduct .favorites .selling-price {
    color: #174542;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 5px;
    margin-right: 10px;
}

.singleProduct .carousel-item {
    position: relative;
    z-index: 1;
}

.singleProduct .carousel-item.active {
    z-index: 2;
}

/* .cart-card .cart-card-content{
    padding-top: 30px;
} */

.modal label {
    color: #344054;
    font-family: League Spartan;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}


.whyus {
    margin-top: 120px;
    margin-left: 90px;
    margin-right: 90px;

}

.WhyMagic {
    margin-top: 100px;
    padding-left: 1rem;
}

.recipies {
    margin-left: 90px;
    margin-right: 90px;
}

.recipe {
    text-align: start;
    font-family: League Spartan;
    width: 380px;
    height: 391px;
    background-color: #D2CEC2;
    border-radius: 18px;
}

.filter-group .input-group input:focus {
    background-color: transparent;
    outline: none !important;
    z-index: 0;
}


.recipe span {
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: 25px;
    line-height: 23px;
    color: #174542;
    font-family: League Spartan;
}

.recipe p {
    margin-right: 20px;
    font-family: Roboto;
}

.rounded-image {
    margin-bottom: 20px;
    border-radius: 18px;
    width: 100%;
}

.recipes {
    margin-top: 75px;
    margin-bottom: 75px;
    align-items: center;
}

.recipe_desc {
    padding-left: 5%;
}



.line {
    border: 1px solid rgb(52, 52, 52);
    margin: 10px 0;
}

.heading {
    position: relative;
}


/* .testimonials {
    color: #ffffff;
    position: relative;
} */
.testimonials .line {
    border: 2px solid;
    width: 40vw;
}

.testimonials .heading h2 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}



.testimonials p {
    color: #174542;
    text-align: center;
    font-family: "League Spartan";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 600px;
}

/* Image */
.testimonials .carousel-inner .carousel-item .team {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    padding: 5px;
    margin: 50px 0 15px;
}

.testimonials .carousel-inner .carousel-item h3 {
    color: #1E1E1E;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testimonials .carousel-inner {
    height: 450px;
    width: 600px;
}

/* .testimonials .carousel{
    height: 450px;
    width: 100%;
} */

.testimonials .carousel-inner .carousel-item h4 {
    font-size: 14px;
    font-weight: 300;
    color: #e2e1e1;
    margin-bottom: 20px;
}

.testimonials .carousel-indicators {
    bottom: 25%;
    z-index: top;
}

.testimonials .carousel-inner .carousel-item p {
    font-size: 30px;
}

.testimonials {
    height: 450px;
}

.testimonials .carousel-indicators li {
    background-color: #174542;
    border-radius: 100%;
    height: 14px;
    width: 14px;
}

.testimonials .carousel-indicators .active {
    background-color: #174542;
    border-radius: 100%;
    height: 16px;
    width: 16px;
}




.testimonials .icon {
    height: 40px;
    width: 40px;
    background-size: 100%, 100%;
    border-radius: 50%;
    font-size: 30px;
    background-image: none;
    color: #ffffff;
}



.stuff_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_footer {
    width: 100%;
    height: 361px;

}

.toast-container {
    display: flex;
    align-items: center;
}

.toast-container span {
    flex: 1;
}

.toast-image {
    float: right;
}

.vertical-line {
    border-left: 1px #343434;
    height: 99px;
    margin: 0 20px;
}

.testimonials .heading h2 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}

.mrp {
    text-decoration: line-through;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;

}

.selling-price {
    color: #174542;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 5px;
    margin-right: 10px;
}


.whyus .carousel-inner .carousel-item {
    align-items: start;
    justify-content: start;
    width: 80%;
}

.whyus .carousel {
    max-width: 530px;
    height: 240px;
    align-items: start;
    justify-content: start;
}

.whyus p {
    color: #454442;
    text-align: start;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.44px;
}


.whyus .carousel-inner .carousel-item h3 {
    text-align: start;
    color: #174542;
    font-family: League Spartan;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 36.8px;
}



.whyus .carousel-indicators {
    justify-content: start;
    margin: 0;
    bottom: -50px;
}

.whyus .carousel ol {
    align-items: start;
}

.whyus .carousel-indicators li {
    align-items: start;
    background-color: #174542;
    border-radius: 100%;
    height: 14px;
    width: 14px;
}

.whyus .text-center {
    text-align: start !important;
}

.whyus .carousel-indicators .active {
    background-color: #174542;
    border-radius: 100%;
}

.whyus .control span {
    cursor: pointer;
}

.stuff h2 {
    font-family: League Spartan;
    font-weight: 600;
    font-size: 30px;
    line-height: 27.6px;
}

.stuff p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.6px;
}

.card_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.footer_right p {
    font-family: League Spartan;
    font-weight: 700;
    font-size: 20px;
    line-height: 18.4px;
}

.card_footer {
    width: 100%;
}

.footer_right li {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.product {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #DD7E1A;
    height: 395px;
    max-width: 285px;
    border-radius: 19px;
    filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.40));
}

.product_imgBox {
    margin-top: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: #E1DDD2;
    height: 198px;
    max-width: 263px;
    border-radius: 19px 19px 0 0
}


.product:hover .arrow {
    transition: transform 0.3s ease-in-out;
    /* Add smooth transition */
    transform: translate(-5px, 5px) scale(1.5);
}

.favorites:hover .arrow {
    transition: transform 0.3s ease-in-out;
    /* Add smooth transition */
    transform: translate(-5px, 5px) scale(1.5);
}

.favorites .arrow {
    position: absolute;
    z-index: 2;
    right: 10%;
    top: 7.5%;
}

.product:hover .buttons {
    background-color: #008F85;
}

.product_img {
    height: 100%;
    width: 100%;
    max-width: 140px;
    max-height: 140px;
    object-fit: cover;
    background-color: transparent;
    border-radius: 19px 19px 0 0;
}

.product .buttons {
    margin-top: 21px;
}

.product_text {
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;

}

.product_desc {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 18.75px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 23px;
}


.product .line {
    border: 1px solid #FFFFFF;
    width: 53px;

}









.products {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #DD7E1A;
    height: 395px;
    max-width: 285px;
    border-radius: 19px;
    filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.40));
}

.qty {
    display: flex;
    align-items: center;
}

.qty .count {

    color: #000;
    font-weight: 700;
    text-align: right;
    background-color: transparent;
    border: 1px solid #174542;
    width: 36px;
    height: 36px;
    border-radius: 11px;
}



.formHeader {
    font-family: League Spartan;
    font-size: 25px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #174542;
}

.formInputs {
    width: 405px;
    height: 51px;
    top: 420.2px;
    left: 85px;
    border-radius: 33.43px;
    border: 2px;
    background-color: transparent;
    border: 2px solid #174542;
    outline: 0;
    margin: 20px;
    margin-left: 0;


}

::placeholder {
    color: #454442;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}



.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-color: #174542;
    background-color: transparent;

}

.form-check-input:checked {
    background-color: #174542;
    border-color: #174542;
    color: #fff;
}





.qty .plus,
.qty .minus {
    cursor: pointer;
    color: #174542;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}



.minus:hover {
    transform: translateX(+5px);
    box-shadow: 0 0 5px rgba(23, 69, 66, 0.8) !important;
    border-radius: 30%;
}


.plus:hover {
    transform: translateX(-5px);
    border-radius: 30%;

    box-shadow: 0 0 5px rgba(23, 69, 66, 0.8) !important;
}

input {
    border: 0;
    width: 50px;
}



.summary {
    width: 396px;
    height: 302px;
    border-radius: 18px;
    background-color: #D2CEC2;

}



.cart-card {
    background-color: #D2CEC2;
    border-radius: 18px;
}

.trash {
    padding-right: 20px;
}


.cart-card-imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1DDD2;
    width: 147px;
    height: 133px;
    border-radius: 18px;
    /* overflow: hidden; */
    /* Add this line */
}


.cart-card .qty {
    display: flex;
    position: relative;
}

.summary hr {
    color: #343434;

}

.summary p {
    padding: 2px;
}

.summary {
    color: #1E1E1E;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
    border-radius: 18px;

}

.coupon-code-input {
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
    border-radius: 18px;
    height: 53px;
    text-indent: 10px;
    background-color: #E1DDD2;
}

.coupon-code-input:focus {
    outline: none;
}


.recipe-blog img {
    float: left;
}





.singleProduct .selling-price {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;


}

.blog-location {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.blog-location span {
    color: #DD7E1A;

}




.health-benefit-card {
    position: relative;
    z-index: 1;
    background-color: #DD7E1A;
    width: 328px;
    height: 111px;
    top: 374px;
    left: 75%;
    border-radius: 13px;
}

.search-bar input::placeholder {
    font-family: League Spartan;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}

.address-form-row2 {
    padding-left: 40px;
}

.address-form-row2 input {
    background-color: #E1DDD2;
    width: 240px;
}

.address-form-row2 input:focus {
    background-color: #E1DDD2;
    width: 240px;
}

.address-form-row1 input {
    background-color: #E1DDD2;
}

.address-form-row1 input:focus {
    background-color: #E1DDD2;
}



.address-form-row2 label {
    font-size: 22px;
}

.address-form-row1 label {
    font-size: 22px;
}

.shipping-address-box {
    max-width: 712px;
    height: 227px;

    background-color: #D2CEC2;
    border-radius: 18px;
    padding: 37px;
}

.Payment-method {
    background-color: #D2CEC2;
    border-radius: 18px;
    padding: 1 em;
    width: 45%;
    margin: auto;
    padding: 30px;
}



