.home {
    margin-top: 20vh;
}

.home h1 {
    font-size: 50px;
}

h1 {
    color: #174542;
    font-family: "League Spartan";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

html body {
    scroll-behavior: smooth;
    margin-left: 3rem;
    margin-right: 2rem;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.carousel-inner {
    max-height: 400px;
}


.carousel-item {
    text-align: center;
}


.WhyMagic .carousel-item img {
    max-width: 100%;
    height: auto;
}

.WhyMagic .col-md-0 img {
    max-width: 100%;
    height: auto;
}

.dropdown-menu{
    height: 155px;
    width: 230px;
}
.navbar-toggler-icon {
    display: none;
}
#loginSignUpDropdown::after {
    display: none;
}

.product-type{
    font-family: Roboto;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}
.product-name{
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}

@media (max-width: 768px) {
    .navbar {
        max-width: 100%;
    }

    .favorites {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
    }


    .buttons {
        display: none;
    }

    .home .landingPage {
        display: flex;
        flex-direction: column-reverse;
        max-width: fit-content;
    }

    .favorites {
        max-width: fit-content;
    }

    .customers_favorite .favorites .buttons {
        display: inline;
        margin-top: 20px;
    }

    section {
        max-width: fit-content;
    }

    .home .landingImg {
        max-width: fit-content;
    }

    .WhyMagic {
        display: flex;
        flex-direction: column-reverse;
        max-width: fit-content;
    }

    body {
        padding: 0 5vw;
    }

    h1 {
        text-align: center;
        font-size: 30px;
    }

    .whyus .img {
        max-width: fit-content;
        max-height: 200px;
    }

    .testimonials .container {
        max-width: fit-content;
    }

    .favorites {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .recipe,
    .favorites_imgBox {
        width: 100%;
        max-width: none;
    }

    .navbar {
        max-height: none;
    }

    .footer_right {
        text-align: center;
    }

    .footer_right ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
    }

    .BigText {
        display: none;
    }

    .lineVectors {
        display: none;
    }

    .card_footer {
        display: flex;
        flex-direction: column;

    }

    .leaf {
        display: none;
    }

    .completeStuff {
        display: none;
    }
}



.BigText {
    font-family: League Spartan;
    color: #ACACAC;
    opacity: 0.2;
    font-size: 150px;
    font-weight: 600;
    line-height: 138px;
    letter-spacing: 0em;
    text-align: left;

}

.customers_favorite {
    padding-top: 0;
}

.customers_favorite .BigText {
    position: relative;
    top: 45px;
    padding-right: 2rem;
    z-index: -1;
}

section {
    padding-top: 3vh;
}

.buttons {
    color: #FFF;
    font-family: "League Spartan";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 178px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 43px;
    background: #174542;
    border-color: transparent;

    &:hover {
        background: #008F85;
        border-color: transparent;

    }
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #DD7E1A;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #DD7E1A;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 40%;
}


.navbar {
    background-color: #E1DDD2;
    color: #000000;
    max-height: 135px;
}

.nav-link:active::after {
    width: 40%;
    color: #DD7E1A;

}

.active .nav-link::after {
    width: 60%;
    color: #DD7E1A;
}

.nav-link:focus::after {
    width: 40%;
    color: #DD7E1A;
}

.navbar-shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #343434;
    justify-content: center;
    font-family: "League Spartan";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    &:hover {
        color: #DD7E1A;
        font-weight: 600px;

    }
}

.nav-item {
    margin-right: 50px;
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.navbar-nav {
    align-items: center;
}

.Login{
    width: 1400px;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    justify-items: center;
    padding: 10px;
    max-height: 120px;
}

.favorites {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #DD7E1A;
    height: 395px;
    max-width: 285px;
    border-radius: 19px;
    filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.40));
}

.landingPage {
    height: 320px;
}

.landingImg {
    height: 120%;
    object-fit: cover;
    object-position: left;
}


.favorites_imgBox {
    margin-top: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: #E1DDD2;
    height: 198px;
    max-width: 263px;
    border-radius: 19px 19px 0 0
}


.favorites:hover .arrow {
    transition: transform 0.3s ease-in-out;
    /* Add smooth transition */
    transform: translate(-5px, 5px) scale(1.5);
}

.favorites:hover .buttons {
    background-color: #008F85;
}

.favorites_img {
    height: 100%;
    width: 100%;
    max-width: 140px;
    max-height: 140px;
    object-fit: cover;
    background-color: transparent;
    border-radius: 19px 19px 0 0;
}

.favorites .buttons {
    margin-top: 21px;
}

.favorites_text {
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;

}

.favorites_desc {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 18.75px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 23px;
}


.favorites .line {
    border: 1px solid #FFFFFF;
    width: 53px;

}

.socials {
    margin-bottom: 30px;
}

.mrp {
    text-decoration: line-through;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.selling-price {
    color: #174542;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* .cart-card .cart-card-content{
    padding-top: 30px;
} */

.whyus {
    margin-top: 15vh;
}

.WhyMagic {
    margin-top: 10rem;
    padding-left: 1rem;
}

.recipe {
    text-align: start;
    font-family: League Spartan;
    width: 380px;
    height: 391px;
    background-color: #D2CEC2;
    border-radius: 18px;
}

.recipe span {
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: 25px;
    line-height: 23px;
    color: #174542;
    font-family: League Spartan;
}

.recipe p {
    margin-right: 20px;
    font-family: Roboto;
}

.rounded-image {
    margin-bottom: 20px;
    border-radius: 18px;
    width: 379px;
}

.recipes {
    margin-top: 75px;
    margin-bottom: 75px;
    align-items: center;
}

.recipe_desc {
    padding-left: 5%;
}



.line {
    border: 1px solid rgb(52, 52, 52);
    margin: 10px 0;
}

.heading {
    position: relative;
}


/* .testimonials {
    color: #ffffff;
    position: relative;
} */
.testimonials .line {
    border: 2px solid;
    width: 30vw;
}

.testimonials .heading h2 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}



.testimonials p {
    color: #174542;
    text-align: center;
    font-family: "League Spartan";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 450px;
}

/* Image */
.testimonials .carousel-inner .carousel-item .team {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    padding: 5px;
    margin: 50px 0 15px;
}

.testimonials .carousel-inner .carousel-item h3 {
    color: #1E1E1E;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testimonials .carousel-inner .carousel-item h4 {
    font-size: 14px;
    font-weight: 300;
    color: #e2e1e1;
    margin-bottom: 20px;
}

/* .testimonials .carousel-indicators {
} */

.testimonials .carousel-indicators li {
    background-color: #174542;
    border-radius: 100%;
    height: 14px;
    width: 14px;
}

.testimonials .carousel-indicators .active {
    background-color: #174542;
    border-radius: 100%;
    height: 16px;
    width: 16px;
}


.testimonials .icon {
    height: 40px;
    width: 40px;
    background-size: 100%, 100%;
    border-radius: 50%;
    font-size: 30px;
    background-image: none;
    color: #ffffff;
}



.stuff_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_footer {
    width: 100%;
    height: 361px;

}

.toast-container {
    display: flex;
    align-items: center;
}

.toast-container span {
    flex: 1;
}

.toast-image {
    float: right;
}

.vertical-line {
    border-left: 1px #343434;
    height: 99px;
    margin: 0 20px;
}

.testimonials .heading h2 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}


.whyus {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.whyus .carousel-inner .carousel-item {
    align-items: start;
    justify-content: start;
    width: 80%;
}

.whyus .carousel {
    max-width: 530px;
    height: 240px;
    align-items: start;
    justify-content: start;
}

.whyus p {
    color: #454442;
    text-align: start;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.44px;
}


.whyus .carousel-inner .carousel-item h3 {
    text-align: start;
    color: #174542;
    font-family: League Spartan;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 36.8px;
}



.whyus .carousel-indicators {
    justify-content: start;
    margin: 0;
    bottom: -50px;
}

.whyus .carousel ol {
    align-items: start;
}

.whyus .carousel-indicators li {
    align-items: start;
    background-color: #174542;
    border-radius: 100%;
    height: 14px;
    width: 14px;
}

.whyus .text-center {
    text-align: start !important;
}

.whyus .carousel-indicators .active {
    background-color: #174542;
    border-radius: 100%;
}

.whyus .control span {
    cursor: pointer;
}

.stuff h2 {
    font-family: League Spartan;
    font-weight: 600;
    font-size: 30px;
    line-height: 27.6px;
}

.stuff p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.6px;
}

.card_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.footer_right p {
    font-family: League Spartan;
    font-weight: 700;
    font-size: 20px;
    line-height: 18.4px;
}

.card_footer {
    width: 100%;
}

.footer_right li {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.formHeader {
    font-family: League Spartan;
    font-size: 25px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #174542;
}

.formInputs {
    width: 405px;
    height: 51px;
    top: 420.2px;
    left: 85px;
    border-radius: 33.43px;
    border: 2px;
    background-color: transparent;
    border: 2px solid #174542;
    outline: 0;
    margin: 20px;
    margin-left: 0;


}

::placeholder {
    color: #454442;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
}

input[type="checkbox"]:checked+label::before {
    content: "\2713";
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: #4CAF50;
    border-color: #4CAF50;
}


input[type="checkbox"]+label::after {
    content: attr(data-text);
    /* Use this to display text next to the checkbox */
    margin-left: 10px;
    /* Adjust as needed for your design */
}

.form-check {
    margin-right: 50px;
}

.product {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #DD7E1A;
    height: 395px;
    max-width: 285px;
    border-radius: 19px;
    filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.40));
}

.product_imgBox {
    margin-top: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: #E1DDD2;
    height: 198px;
    max-width: 263px;
    border-radius: 19px 19px 0 0
}


.product:hover .arrow {
    transition: transform 0.3s ease-in-out;
    /* Add smooth transition */
    transform: translate(-5px, 5px) scale(1.5);
}

.product:hover .buttons {
    background-color: #008F85;
}

.product_img {
    height: 100%;
    width: 100%;
    max-width: 140px;
    max-height: 140px;
    object-fit: cover;
    background-color: transparent;
    border-radius: 19px 19px 0 0;
}

.product .buttons {
    margin-top: 21px;
}

.product_text {
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;

}

.product_desc {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 18.75px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 23px;
}


.product .line {
    border: 1px solid #FFFFFF;
    width: 53px;

}

.card {
    background-color: transparent;
    border: 0;
    width: 341px;
    height: 64px;
}

.card .card-header {
    background-color: #D2CEC2;

    border-radius: 18px;
    align-items: center;
}

.card input {
    background-color: transparent;
    border: transparent;
}



.card .search {
    background-color: transparent;
    border: 0;
}

.card-body {
    background-color: #D2CEC2;
    border-radius: 18px;
    align-items: center;
}

.card-body li {
    color: #D2CEC2;
    margin-top: 1rem;
    border-top: 1px solid rgba(52, 52, 52, 0.2);
    ;
    border-bottom: 1px solid rgba(52, 52, 52, 0.2);
    ;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;

}

.card-body a {
    color: #343434;
    justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.products {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #DD7E1A;
    height: 395px;
    max-width: 285px;
    border-radius: 19px;
    filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.40));
}

.product_description {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 700px;
    color: #454442;
}

.qty {
    display: flex;
    align-items: center;
}

.qty .count {
    color: #000;
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    border: 1px solid #1E1E1E;
    width: 39px;
    height: 39px;
    border-radius: 11px;
}

.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-color: #174542;
    background-color: transparent;

}

.form-check-input:checked {
    background-color: #174542;
    border-color: #174542;
    color: #fff;
}

#carouselExampleDark {
    position: relative;
    height: 250px;
    width: 200px;
}


.qty .plus,
.qty .minus {
    cursor: pointer;
    color: #174542;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.quantity div {
    text-align: center;
}

.minus:hover {
    transform: translateX(+5px);
    box-shadow: 0 0 5px rgba(23, 69, 66, 0.8) !important;
    border-radius: 30%;
}


.plus:hover {
    transform: translateX(-5px);
    border-radius: 30%;

    box-shadow: 0 0 5px rgba(23, 69, 66, 0.8) !important;
}

input {
    border: 0;
    width: 50px;
}
.product_info button {
    text-align: left;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    color: #174542;
    font-size: 1.15rem;
    font-weight: 400;
    border: 1px solid #174542;
    border-radius: 11px;
    background: transparent;
    margin-bottom: 13px;
}

.product_info button.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.product_info button.active .icon::before {
    transform: rotate(45deg);
}

.product_info button.active + .product_info-collapse .divider {
    margin-top: 10px; /* Adjust margin to overlap with the paragraph */
}

.product_info button.active + .product_info-collapse .product_info-body p {
    margin-top: 10px; /* Adjust margin to overlap with the divider */
}

.product_info-button {
    position: relative;
}

.product_info-button .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.product_info button:hover,
.product_info button:focus {
    cursor: pointer;
    color: #174542;
}

.product_info .product_info-title {
    padding: 1em 1.5em 1em 0;
}


.product_info .product_info-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.product_info .divider {
    margin: 10px 0;
    border-color: #174542;
}

.product_info .product_info-body p {
    font-size: 1rem;
    font-weight: 300;
    margin-right: 2em;
}


.summary {
    width: 396px;
    height: 302px;
    border-radius: 18px;
    background-color: #D2CEC2;

}

.cart-card {
    background-color: #D2CEC2;
    border-radius: 18px;
}

.trash{
    padding-right: 20px;
}
#carouselExampleDark .carousel-inner {
    display: flex;
    align-items: center;
    height: 100%;
}

#carouselExampleDark .carousel-item {
    text-align: center;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
}

.carousel-dark .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.carousel-dark .carousel-indicators li {
    background-color: #174542;
    height: 14px;
    width: 14px;
    border-radius: 100%; 
    opacity: 0.6;
    /* transition: opacity 0.5s; */
}

#carouselExampleDark .carousel-indicators .active {
    opacity: 1; 
}


.cart-card-imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1DDD2;
    width: 147px;
    height: 133px;
    border-radius: 18px;
    /* overflow: hidden; */
    /* Add this line */
}


.cart-card .qty {
    display: flex;
    position: relative;
}

.summary hr {
    color: #343434;
}

.summary p {
    padding: 2px;
}