.home {
    margin-top: 20vh;
}

.home h1 {
    font-size: 50px;
}

h1 {
    color: #174542;
    font-family: "League Spartan";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


body {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
    overflow-x: hidden;
}


/* Adjust carousel height */
.carousel-inner {
    max-height: 400px; /* Adjust the value as needed */
}

/* Center-align text in carousel items */
.carousel-item {
    text-align: center;
}

/* Make Group 45 image responsive */
/* Custom CSS for Why Us section */
.WhyMagic .carousel-item img {
    max-width: 100%; /* Ensure images are responsive and don't go beyond screen width */
    height: auto; /* Maintain aspect ratio */
}

.WhyMagic .col-md-0 img {
    max-width: 100%; /* Ensure images are responsive and don't go beyond screen width */
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
    .navbar{
        max-width: 100%;
    }
    /* Adjust the margin for favorites items in mobile view */
    .favorites {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%; /* Adjust the value as needed */
    }


    .buttons{
        display: none;
    }
    .home .landingPage{
        display: flex;
        flex-direction: column-reverse;
        max-width: fit-content;
    }
    .favorites{
        max-width: fit-content;
    }
    .customers_favorite .favorites .buttons{
        display: inline;
        margin-top: 20px;
    }

    section{
        max-width: fit-content;
    }
    .home .landingImg{

        max-width: fit-content  ;
    }
    .WhyMagic{
        display: flex;
        flex-direction: column-reverse;
        max-width: fit-content;
    }
    body {
        padding: 0 5vw;
    }
    h1{
        text-align: center;
        font-size: 30px;
    }
    .whyus .img{
        max-width: fit-content;
        max-height: 200px ;
    }
    .testimonials .container{
        max-width: fit-content;
    }
    .favorites {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .recipe,
    .favorites_imgBox {
        width: 100%;
        max-width: none;
    }

    .navbar {
        max-height: none;
    }

    .footer_right {
        text-align: center;
    }

    .footer_right ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
    }
    .BigText {
        display: none;
    }
    .lineVectors{
        display: none;
    }
    .card_footer {
        display: flex;
        flex-direction: column;

    }
    .leaf{
        display: none;
    }
    .completeStuff{
        display: none;
    }
}


.BigText {
    font-family: League Spartan;
    color: #ACACAC;
    opacity: 0.2;
    font-size: 150px;
    font-weight: 500;
    line-height: 138px;
    letter-spacing: 0em;
    text-align: left;

}

section {
    padding-top: 3vh;
}

.buttons {
    color: #FFF;
    font-family: "League Spartan";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 178px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 43px;
    background: #174542;

    &:hover {
        background: #008F85;
    }
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #DD7E1A;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #DD7E1A;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 40%;
}


.navbar {
    background-color: #E1DDD2;
    color: #000000;
    max-height: 135px;
}

.nav-link:active::after {
    width: 40%;
    color: #DD7E1A;

}

.active .nav-link::after {
    width: 60%;
    color: #DD7E1A;
}

.nav-link:focus::after {
    width: 40%;
    color: #DD7E1A;
}

.navbar-shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #000000;
    justify-content: center;
    font-family: "League Spartan";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    &:hover {
        color: #DD7E1A;

    }
}

.nav-item {
    margin-right: 20px;
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.navbar-nav {
    align-items: center;
}



.logo {
    justify-items: center;
    padding: 10px;
    max-height: 120px;
}

.favorites {
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #DD7E1A;
    height: 385px;
    max-width: 285px;
    border-radius: 19px;
    filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.40));
}


.landingImg {
    max-width: fit-content;
    padding-left: 0;
}

.favorites_imgBox {
    margin-top: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: #E1DDD2;
    height: 195px;
    max-width: 260px;
    border-radius: 19px 19px 0 0
}


.favorites_img {
    height: 100%;
    width: 100%;
    max-width: 140px;
    max-height: 140px;
    object-fit: cover;
    background-color: transparent;
    border-radius: 19px 19px 0 0;
}

.favorites_text {
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.favorites_desc {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 18.75px;
    font-style: normal;
    font-weight: 400;
}


.favorites .line {
    border: 1px solid #FFFFFF;
    width: 53px;

}

.mrp {
    text-decoration: line-through;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.selling-price {
    color: #174542;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.whyus {
    margin-top: 15vh;
}

.WhyMagic {
    margin-top: 12%;
}

.recipe {
    text-align: start;
    margin: 20px;
    display: inline-grid;
    font-family: League Spartan;
    width: 380px;
    height: 391px;
    background-color: #D2CEC2;
    border-radius: 18px;
}

.recipe span {

    font-weight: 600;
    font-size: 25px;
    line-height: 23px;
    color: #174542;
    font-family: League Spartan;
}

.recipe p {
    margin-right: 20px;
    font-family: Roboto;
}

.rounded-image {
    border-radius: 18px;
    width: 100%;
}


.recipes {
    align-items: center;
}

.recipe_desc {
    padding-left: 5%;
}



.line {
    border: 1px solid rgb(52, 52, 52);
    margin: 10px 0;
}

.heading {
    position: relative;
}


/* .testimonials {
    color: #ffffff;
    position: relative;
} */
.testimonials .line {
    border: 2px solid;
    width: 30vw;
}

.testimonials .heading h2 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}



.testimonials p {
    color: #174542;
    text-align: center;
    font-family: "League Spartan";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 450px;
}

/* Image */
.testimonials .carousel-inner .carousel-item .team {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    padding: 5px;
    margin: 50px 0 15px;
}

.testimonials .carousel-inner .carousel-item h3 {
    color: #1E1E1E;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testimonials .carousel-inner .carousel-item h4 {
    font-size: 14px;
    font-weight: 300;
    color: #e2e1e1;
    margin-bottom: 20px;
}

/* .testimonials .carousel-indicators {
} */

.testimonials .carousel-indicators li {
    background-color: #174542;
    border-radius: 100%;
    height: 14px;
    width: 14px;
}

.testimonials .carousel-indicators .active {
    background-color: #174542;
    border-radius: 100%;
    height: 16px;
    width: 16px;
}


.testimonials .icon {
    height: 40px;
    width: 40px;
    background-size: 100%, 100%;
    border-radius: 50%;
    font-size: 30px;
    background-image: none;
    color: #ffffff;
}



.stuff_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_footer {
    width: 100%;
    height: 361px;

}

.toast-container {
    display: flex;
    align-items: center;
}

.toast-container span {
    flex: 1;
}

.toast-image {
    float: right;
}

.vertical-line {
    border-left: 1px #343434;
    height: 99px;
    margin: 0 20px;
}

.testimonials .heading h2 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}


.whyus {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.whyus .carousel-inner .carousel-item {
    align-items: start;
    justify-content: start;
    width: 80%;
}

.whyus .carousel {
    max-width: 530px;
    height: 240px;
    align-items: start;
    justify-content: start;
}

.whyus p {
    color: #454442;
    text-align: start;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.44px;
}


.whyus .carousel-inner .carousel-item h3 {
    text-align: start;
    color: #174542;
    font-family: League Spartan;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 36.8px;
}



.whyus .carousel-indicators {
    justify-content: start;
    margin: 0;
    bottom: -50px;
}

.whyus .carousel ol {
    align-items: start;
}

.whyus .carousel-indicators li {
    align-items: start;
    background-color: #174542;
    border-radius: 100%;
    height: 14px;
    width: 14px;
}

.whyus .text-center {
    text-align: start !important;
}

.whyus .carousel-indicators .active {
    background-color: #174542;
    border-radius: 100%;
}

.whyus .control span {
    cursor: pointer;
}

.stuff h2 {
    font-family: League Spartan;
    font-weight: 600;
    font-size: 30px;
    line-height: 27.6px;
}

.stuff p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.6px;
}

.card_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_right p {
    font-family: League Spartan;
    font-weight: 700;
    font-size: 20px;
    line-height: 18.4px;
}

.card_footer {
    width: 100%;
}

.footer_right li {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}